Learning WCF/Labs/Chapter2/ServiceContractVersioning_NoInheritance/WinClientV2/Service References/ServiceA2/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.thatindigogirl.com/samples/2006/08" elementFormDefault="qualified" targetNamespace="http://www.thatindigogirl.com/samples/2006/08" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Operation1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Operation1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Operation1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operation2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Operation2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Operation2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operation3">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Operation3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Operation3Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>