Learning WCF/Labs/Chapter1/MultiContractService/ExternalClient/Service References/ServiceB/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.thatindigogirl.com/samples/2006/06" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.thatindigogirl.com/samples/2006/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thatindigogirl.com/samples/2006/06/Imports">
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd0" namespace="http://www.thatindigogirl.com/samples/2006/06" />
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceB_Operation3_InputMessage">
    <wsdl:part name="parameters" element="tns:Operation3" />
  </wsdl:message>
  <wsdl:message name="IServiceB_Operation3_OutputMessage">
    <wsdl:part name="parameters" element="tns:Operation3Response" />
  </wsdl:message>
  <wsdl:message name="IAdmin_AdminOperation1_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperation1" />
  </wsdl:message>
  <wsdl:message name="IAdmin_AdminOperation1_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperation1Response" />
  </wsdl:message>
  <wsdl:message name="IAdmin_AdminOperation2_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperation2" />
  </wsdl:message>
  <wsdl:message name="IAdmin_AdminOperation2_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperation2Response" />
  </wsdl:message>
  <wsdl:portType name="IServiceB">
    <wsdl:operation name="Operation3">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IServiceB/Operation3" message="tns:IServiceB_Operation3_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IServiceB/Operation3Response" message="tns:IServiceB_Operation3_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAdmin">
    <wsdl:operation name="AdminOperation1">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdmin/AdminOperation1" message="tns:IAdmin_AdminOperation1_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdmin/AdminOperation1Response" message="tns:IAdmin_AdminOperation1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminOperation2">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdmin/AdminOperation2" message="tns:IAdmin_AdminOperation2_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdmin/AdminOperation2Response" message="tns:IAdmin_AdminOperation2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>